@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --text--color--: white;
    --text--color--blend--: #030558;
    --back--up--color--: #e7faf9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
html, body {
    position: relative;
    height: 100vh;
    overflow: auto;
  }
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;

}
.bg-vid {
    position: absolute; /* Memposisikan video secara absolut */
    top: 50%; /* Memusatkan video secara vertikal */
    left: 50%; /* Memusatkan video secara horizontal */
    width: 100%; /* Mengatur lebar video */ /* Mengatur tinggi video */
    z-index: -1; /* Menempatkan video di belakang konten lainnya */
    transform: translate(-50%, -50%); /* Memusatkan video */
    object-fit: cover;
    pointer-events: none;
}



nav{
    width: 100%;
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


.logo h1{
    font-size: 27px;
    color: black;

}


ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;

}

li a{
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px 15px;
    transition: color 1.4s ease;
    cursor: pointer;
}

li a:hover{
    background-color: var(--text--color--);
    color: black;

}

.active{
    background-color: var(--text--color--);
    color: black;

}

button{
    border: 1px solid var(--back--up--color--);
    background: transparent;
    border-radius: 5px;
    padding:15px 10px;
    font-size: 10px;
    font-weight: 700;
    color: var(--back--up--color--);
    cursor: pointer; 

}

button:hover{
    background-color: var(--text--color--);
    color: black;
    transition: 0.2s ;
}

.form-container{
    padding: 4rem 2rem;
    width: 50%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    display: flex;
    position: relative;
}

form{
    display: block;
    box-sizing: border-box;
    border: solid white; 
    padding: 40px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container h1{
        color:white;
        text-align: center;
        font-size: 50px;
        
}

input{
    border-radius: 7px;
    color: black;
    font-size: 15px;
    padding: 5px;
    text-align: center;
}
.submit{
    display: block;
    align-items: center;
    text-align: center;

}



/* Media Queries untuk layar kecil (mobile) */
@media (max-width: 768px) {
    html, body {
        position: relative;
        height: 97vh;
        overflow: auto;
        background-color: black;
        z-index: -2;
      }

      .bg-vid {
        position: absolute; /* Memposisikan video secara absolut */
        top: 50%; /* Memusatkan video secara vertikal */
        left: 50%; /* Memusatkan video secara horizontal */
        width: 100%; /* Mengatur lebar video */ /* Mengatur tinggi video */
        z-index: -1; /* Menempatkan video di belakang konten lainnya */
        transform: translate(-50%, -50%); /* Memusatkan video */
        object-fit: block;
        pointer-events: none;
    }
    
    nav {
        padding: 1rem 2rem;
        flex-direction: flex;
        align-items: center;
        background-color: black;
    }

    .logo h1 {
        font-size: 24px;
    }

  

    ul {
        flex-direction: flex;
        gap: 0.7rem;
    }

    li a {
        font-size: 16px;
        padding: 8px 12px;
    }

    .form-container{
        padding: 1rem 1.9rem;
        width: 60%;
        height: 40%;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    
    form{
        display: block;
        box-sizing: border-box;
        padding: 40px;
        width: 200%;
        height: 200%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    
    }
    
    .form-container h1{
            color:white;
            text-align: center;
            font-size: 50px;
            
    }
    
    input{
        border-radius: 4px;
        color: black;
        font-size: 15px;
        text-align: center;
    }
    .submit{
        font-size: 13px;
        flex-direction: flex;
        align-items: center;
        text-align: center;
    }
    
   #explore{
    margin-left: 0px;
   }
}



@media (min-width: 769px) and (max-width: 1024px) {
    html, body {
        position: relative;
        height:100vh;
        overflow: auto;
        background-color: black;
        z-index: -2;
        gap: 40px;
      }

      .bg-vid {
        position: absolute; /* Memposisikan video secara absolut */
        top: 50%; /* Memusatkan video secara vertikal */
        left: 50%; /* Memusatkan video secara horizontal */
        width: 100%; /* Mengatur lebar video */ /* Mengatur tinggi video */
        z-index: -1; /* Menempatkan video di belakang konten lainnya */
        transform: translate(-50%, -50%); /* Memusatkan video */
        object-fit: block;
        pointer-events: none;
    }
    
    nav {
        padding: 1rem 2rem;
        flex-direction: flex;
        align-items: center;
        background-color: black;
    }

    .logo h1 {
        font-size: 24px;
    }

  

    ul {
        flex-direction: flex;
        gap: 0.7rem;
    }

    li a {
        font-size: 16px;
        padding: 8px 12px;
    }

    .form-container{
        padding: 9rem 1rem;
        width: 70%;
        height: 70%;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    
    form{
        display: block;
        box-sizing: border-box;
        padding: 40px;
        width: 100%;
        height: 200%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    
    }
    
    .form-container h1{
            color:white;
            text-align: center;
            font-size: 50px;
            
    }
    
    input{
        border-radius: 4px;
        color: black;
        font-size: 15px;
    }
    .submit{
        font-size: 13px;
        flex-direction: flex;
        align-items: center;
        text-align: center;
    }
    
   #explore{
    margin-left: 0px;
   }
}